.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

#status {
    font-size: 18px;
}

body {
    background-size: cover;
    background-position: center;
}

canvas {
    box-shadow: 10px 10px 10px gray;
    border-radius: 10px;
}

#img1,
#img2,
#img3 {
    border-radius: 20px;
    font-size: 40px;
    float: center;
    margin-top: 50px;
}

.copy_right_footer {
    position: bottom;
    color: black;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}